<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>MeyerAssessment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_pack_tag 'inertia', defer: true %>
  </head>

  <body class="h-full" >
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
